/***** Couleurs : #0065FC (bleu), #DEEBFF (bleu clair), #F2F2F2 (gris) *****/

/***** GENERAL *****/
body{
  margin: 0;
  width: 100%;
}
body, input, button{
  font-family: 'Raleway', sans-serif;
}
header, section{
  width: 100%;
  max-width: 1440px;
  margin: auto;
}
h2{
  font-size: 22px;
}
h3{
  font-size: 17px;
}
.blue{
  color: #0065FC;
}
.grey{
  color: #F2F2F2;
}
a{
  text-decoration: none;
  color: inherit;
}

/***** HEADER *****/
header{
  display: flex;
  height: 120px;
  justify-content: space-between;
}
#logo{
  display: flex;
  align-items: center;
}
nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}
nav li{
  line-height: 120px;
  box-sizing: border-box;
  border-top: 2px white solid;
  width: 160px;
  text-align: center;
}
nav li:hover{
  cursor: pointer;
}
.selected, nav li:hover:not(#signin){
  border-top: 2px #0065FC solid;
  color: #0065FC;
  font-weight: 500;
}
#signin{
  font-weight: 700;
  color: #0065FC;
}

/***** SECTION : FILTERS *****/
form{
  display: flex;
  margin-bottom: 30px;
}
form label{
  background-color: #F2F2F2;
  border-radius: 15px 0 0 15px;
  display: inline-flex;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
}
input{
  height: 50px;
  width: 230px;
  box-sizing: border-box;
  border: 1px #F2F2F2 solid;
  padding-left: 15px;
  padding-right: 15px;
}
input:focus{
  outline: none;
  box-shadow: 0px 0px 10px #F2F2F2;
}
button[type="submit"]{
  width: 135px;
  border: 0;
  border-radius: 0 15px 15px 0;
  background-color: #0065FC;
  color: white;
}
#search-mobile{
  display: none;
  width: 50px;
}
input, button, .filter{
  font-weight: 700;
  font-size: 17px;
}
label, button, .filter{
  cursor: pointer;
}
#filters h3{
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 45px;
}
.filter{
  height: 50px;
  box-sizing: border-box;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 50px;
  border: 2px #F2F2F2 solid;
  border-left: none;
  background-color: white;
  display: inline-flex;
  align-items: center;
  padding-right: 15px;
}
.filter p{
  background-color: #DEEBFF;
  color: #0065FC;
  height: 50px;
  width: 50px;
  box-sizing: border-box;
  border-radius: 50px;
  line-height: 50px;
  text-align: center;
  margin: 0;
  margin-right: 10px;
}
.info{
  display: flex;
  align-items: center;
}
.infobubble{
  height: 20px;
  width: 20px;
  box-sizing: border-box;
  border: 1px #F2F2F2 solid;
  font-size: 10px;
  padding: 3px;
  margin-right: 10px;
  border-radius: 10px;
  text-align: center;
  color: #0065FC;
}

/***** SECTION : LODGING *****/
#lodging{
  display: flex;
  margin-top: 40px;
  margin-bottom: 40px;
  justify-content: space-between;
}
#lodging > div:nth-of-type(1), #lodging > div:nth-of-type(2){
  border-radius: 20px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 25px;
  box-sizing: border-box;
  background-color: #F2F2F2;
}
#lodging > div:nth-of-type(1){
  width: 67%;
}
#lodging > div:nth-of-type(2){
  width: 30%;
}
#lodging > div:nth-of-type(1) > div, #lodging > div:nth-of-type(2) > div{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
  margin-top: 20px;
  margin-bottom: 40px;
}
#lodging > div:nth-of-type(1) > div{
  height: 430px;
}
#lodging > div:nth-of-type(2) > div{
  height: 490px;
}
.lodging-contener, .popular-contener{
  border: 5px white solid;
  border-radius: 20px;
  box-shadow: 0px 0px 5px lightgrey;
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
}
.lodging-contener{
  width: 31%;
  height: 200px;
  flex-direction: column;
}
.popular-contener{
  width: 100%;
  height: 140px;
}
.lodging-pic{
  height: 110px;
}
.popular-pic{
  width: 40%;
}
.lodging-contener:nth-child(1) .lodging-pic{
  background: center/cover url("images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
}
.lodging-contener:nth-child(2) .lodging-pic{
  background: center/cover url("images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
}
.lodging-contener:nth-child(3) .lodging-pic{
  background: center/cover url("images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg");
}
.lodging-contener:nth-child(4) .lodging-pic{
  background: center/cover url("images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
}
.lodging-contener:nth-child(5) .lodging-pic{
  background: center/cover url("images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
}
.lodging-contener:nth-child(6) .lodging-pic{
  background: center/cover url("images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
}
.popular-contener:nth-child(1) .popular-pic{
  background: center/cover url("images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
}
.popular-contener:nth-child(2) .popular-pic{
  background: center/cover url("images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg");
}
.popular-contener:nth-child(3) .popular-pic{
  background: center/cover url("images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
}
.lodging-info, .popular-info{
  background-color: white;
  padding: 10px;
  box-sizing: border-box;
}
.lodging-info{
  height: 80px;
}
.popular-info{
  width: 60%;
}
.lodging-info h3, .popular-info h3{
  margin-top: 0;
  margin-bottom: 6px;
}
.lodging-info p, .popular-info p{
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 15px;
}
.lodging-info svg, .popular-info svg {
  font-size: 12px;
}
.popular-info svg{
  margin-top: 30px;
}
.fa-chart-line{
  float: right;
  cursor: pointer;
}

/***** RESPONSIVE *****/
@media screen and (min-width: 768px) { /* PC seulement */
  #filters h2 + p{
    margin-top: -15px;
  }
}
@media screen and (max-width: 1540px) and (min-width: 769px) { /* Petits PC seulement */
  header, section {
    padding-left: 50px;
    padding-right: 50px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 768px) { /* Tablettes et mobiles */
  body{
    position: relative;
  }
  header{
    margin-bottom: 40px;
  }
  section{
    padding-left: 20px;
    padding-right: 20px;
  }
  /***** HEADER *****/
  header{
    flex-wrap: wrap;
  }
  #logo, #signin{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
  }
  nav{
    width: 100%;
  }
  nav li{
    line-height: 50px;
    border-top: 0;
  }
  nav li:not(#signin){
    border-bottom: 3px #F2F2F2 solid;
    width: 100%;
  }
  .selected, nav li:hover:not(#signin){
    border-top: 0;
    border-bottom: 3px #0065FC solid!important;
    color: #0065FC;
    font-weight: 500;
  }
  #signin{
    position: absolute;
    top: 0;
    right: 0;
    width: 120px;
  }
  /***** SECTION : FILTERS *****/
  form{
    margin-top: 30px;
    justify-content: center;
  }
  #filters h3{
    display: block;
    margin-bottom: 15px;
  }
  .filter{
    margin-bottom: 10px;
  }
  .info{
    margin-top: 10px;
    align-items: flex-start;
  }
}
@media screen and (max-width: 425px) { /* Mobiles */
  /***** SECTION : FILTERS *****/
  #search-pc{
    display: none;
  }
  #search-mobile{
    display: inline-block;
  }
}
