/***** Couleurs : #0065FC (bleu), #DEEBFF (bleu clair), #F2F2F2 (gris) *****/

body{
  font-family: 'Raleway', sans-serif;
  margin: 0;
}
header, section{
  margin-left: 16.665%;
  margin-right: 16.665%;
}

/***** HEADER *****/
header{
  display: flex;
  height: 120px;
}
#logo{
  width: 100%;
  display: flex;
  align-items: center;
}
nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}
nav li{
  line-height: 120px;
  box-sizing: border-box;
  border-top: 2px white solid;
  width: 160px;
  text-align: center;
}
nav li:hover{
  cursor: pointer;
}
.selected, nav li:hover:not(#signin){
  border-top: 2px #0065FC solid;
  color: #0065FC;
  font-weight: 500;
}
#signin{
  font-weight: 800;
  color: #0065FC;
}

/***** RESPONSIVE *****/
@media screen and (max-width: 768px) { /* Tablettes et mobiles */
  body{
    position: relative;
  }
  header, section{
    margin-left: 0;
    margin-right: 0;
  }
  /***** HEADER *****/
  header{
    flex-wrap: wrap;
  }
  #logo, #signin{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
  }
  nav{
    width: 100%;
  }
  nav li{
    line-height: 50px;
    border-top: 0;
  }
  nav li:not(#signin){
    border-bottom: 3px #F2F2F2 solid;
    width: 100%;
  }
  .selected, nav li:hover:not(#signin){
    border-top: 0;
    border-bottom: 3px #0065FC solid!important;
    color: #0065FC;
    font-weight: 500;
  }
  #signin{
    position: absolute;
    top: 0;
    right: 0;
    width: 120px;
  }
}
